<!DOCTYPE html>
<html lang="en">
  {% include "header.html" %}

    <!-- Hero Section Starts -->
    <section
      id="home"
      style="background-image: url(static/img/cover_1.jpg);"
      class="bg-cover hero-section"
      
    >
      <div class="overlay"></div>
      <div class="container text-white text-center">
        <div class="row">
          <div class="col-12">
            <h1 class="display-4" data-aos="zoom-in">
              We Design Remarkable and<br />Stunning Customized Websites
            </h1>
            <p class="my-4" data-aos="fade-up">
              There are many types of web development but it depends on your
              preferences<br />
              that which type will you select. So this is user's option which is
              to be selected.
            </p>
            <button class="btn btn-main" data-aos="fade-up">
              <a style="color: white" href="https://motivertech.com">
                Get Started
              </a>
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Services section Starts -->
    <section id="services" class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12 section-intro text-center" data-aos="fade-up">
            <h1>Our Services</h1>
            <div class="divider"></div>
            <p>
              There are many passages of lorem ipsum available, but majority
              have suffered alteration in some form, by injecting humo, or
              randomised words which do not look even slightly
            </p>
          </div>
        </div>

        <div class="row g-4">
          <div class="col-md-4" data-aos="zoom-in">
            <div class="service">
              <div class="service-img">
                <img src="static/img/image_1.png" alt="" />
                <div class="icon"><i class="icon-browser"></i></div>
                <h5 class="mt-5 pt-4">Web / Apps Development</h5>
                <p>
                  Desingning and building responsive, secure and scalable websties and powerful applications with seamless peformance, modern design and scalable architecture to bring ideas to life across platforms
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4" data-aos="zoom-in">
            <div class="service">
              <div class="service-img">
                <img src="static/img/image_2.png" alt="" />
                <div class="icon"><i class="icon-bargraph"></i></div>
                <h5 class="mt-5 pt-4">Digital Marketing</h5>
                <p>
                 Helping you grow online visbility through SEO, social media marketing, and targeted advertising campaigns.
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-4" data-aos="zoom-in">
            <div class="service">
              <div class="service-img">
                <img src="static/img/image_3.png" alt="" />
                <div class="icon"><i class="icon-camera"></i></div>
                <h5 class="mt-5 pt-4">Graphic Desingning </h5>
                <p>
                  Creating striking visuals, logos and brand identities that leave a lasting impression.
                </p>
              </div>
            </div>
          </div>

           <div class="col-md-4" data-aos="zoom-in">
            <div class="service">
              <div class="service-img">
                <img src="static/img/ghost.jpg" alt="" />
                <div class="icon"><i class="icon-camera"></i></div>
                <h5 class="mt-5 pt-4">Ghost writing </h5>
                <p>
                  Producing high-quality, tailored content that communicates your ideas with clarity and impact.
                </p>
              </div>
            </div>
          </div>

           <div class="col-md-4" data-aos="zoom-in">
            <div class="service">
              <div class="service-img">
                <img src="static/img/data.jpg" alt="" />
                <div class="icon"><i class="icon-"></i></div>
                <h5 class="mt-5 pt-4">Data Analysis</h5>
                <p>
                  Transforming complex data into actionable insights to drive informed business decisions.
                </p>
              </div>
            </div>
          </div>

           <div class="col-md-4" data-aos="zoom-in">
            <div class="service">
              <div class="service-img">
                <img src="static/img/it.webp" alt="" />
                <div class="icon"><i class="icon-camera"></i></div>
                <h5 class="mt-5 pt-4">IT Training and Counselling </h5>
                <p>
                  Equipping individuals and organizations with pratical skills, guideance and strategies to stay ahead in technology.
                </p>
              </div>
            </div>
          </div>



        </div>
      </div>
    </section>

    <!-- About Section -->
    <section
      id="about"
      style="background-image: url(static/img/cover_3.jpg)"
      class="bg-cover"
    >
      <div class="overlay"></div>
      <div class="container text-white text-center">
        <div class="row">
          <div class="col-12 section-intro text-center" data-aos="fade-up">
            <h1>Watch our video</h1>
            <div class="divider"></div>
            <p>
              There are many passages of lorem ipsum available, but majority
              have suffered alteration in some form, by injecting humo, or
              randomised words which do not look even slightly
            </p>
            <a href="#" class="video-btn"><i class="bx bx-play"></i></a>
          </div>
        </div>
      </div>
    </section>

    <!-- Features Section -->
    <section id="features" class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12 section-intro text-center" data-aos="fade-up">
            <h1>Our Features</h1>
            <div class="divider"></div>
            <p>
              There are many passages of lorem ipsum available, but majority
              have suffered alteration in some form, by injecting humo, or
              randomised words which do not look even slightly
            </p>
          </div>
        </div>

        <div class="row gx-4 gy-5">
          <div class="col-md-4 feature" data-aos="fade-up">
            <div class="icon"><i class="icon-tools"></i></div>
            <h5 class="mt-4 mb-3">Feature Title</h5>
            <p>
              There are many variations of passages of larem ipusm available,but
              the majority have suffered alteration in some form
            </p>
          </div>

          <div class="col-md-4 feature" data-aos="fade-up">
            <div class="icon"><i class="icon-browser"></i></div>
            <h5 class="mt-4 mb-3">Feature Title</h5>
            <p>
              There are many variations of passages of larem ipusm available,but
              the majority have suffered alteration in some form
            </p>
          </div>

          <div class="col-md-4 feature" data-aos="fade-up">
            <div class="icon"><i class="icon-calendar"></i></div>
            <h5 class="mt-4 mb-3">Feature Title</h5>
            <p>
              There are many variations of passages of larem ipusm available,but
              the majority have suffered alteration in some form
            </p>
          </div>

          <div class="col-md-4 feature" data-aos="fade-up">
            <div class="icon"><i class="icon-camera"></i></div>
            <h5 class="mt-4 mb-3">Feature Title</h5>
            <p>
              There are many variations of passages of larem ipusm available,but
              the majority have suffered alteration in some form
            </p>
          </div>

          <div class="col-md-4 feature" data-aos="fade-up">
            <div class="icon"><i class="icon-scissors"></i></div>
            <h5 class="mt-4 mb-3">Feature Title</h5>
            <p>
              There are many variations of passages of larem ipusm available,but
              the majority have suffered alteration in some form
            </p>
          </div>

          <div class="col-md-4 feature" data-aos="fade-up">
            <div class="icon"><i class="icon-strategy"></i></div>
            <h5 class="mt-4 mb-3">Feature Title</h5>
            <p>
              There are many variations of passages of larem ipusm available,but
              the majority have suffered alteration in some form
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Counter -->
    <section style="background-image: url(static/img/cover_2.jpg)" class="bg-cover">
      <div class="overlay"></div>
      <div class="container text-white text-center">
        <div class="row gy-4" data-aos="fade-up">
          <div class="col-md-3">
            <i class="icon-trophy h1"></i>
            <h1 class="mt-3 mb-2">5</h1>
            <p>Awards Won</p>
          </div>

          <div class="col-md-3">
            <i class="icon-camera h1"></i>
            <h1 class="mt-3 mb-2">17</h1>
            <p>Project Delivered</p>
          </div>

          <div class="col-md-3">
            <i class="icon-happy h1"></i>
            <h1 class="mt-3 mb-2">15+</h1>
            <p>Happy Clients</p>
          </div>

          <div class="col-md-3">
            <i class="icon-paintbrush h1"></i>
            <h1 class="mt-3 mb-2">6+</h1>
            <p>Graphic Designed</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Reviews Section -->
    <section id="reviews" class="text-center">
      <div class="container">
        <div class="row">
          <div class="col-12 section-intro text-center">
            <h1>Our Testimonial</h1>
            <div class="divider"></div>
            <p>
              There are many passages of lorem ipsum available, but majority
              have suffered alteration in some form, by injecting humo, or
              randomised words which do not look even slightly
            </p>
          </div>
        </div>

        <div class="row g-4 text-start">
          <div class="col-md-4" data-aos="fade-up">
            <div class="review p-4">
              <div class="person">
                <img src="static/img/avatar_1.jpg" alt="" />
                <div class="text ms-3">
                  <h6 class="mb-0">John Walter</h6>
                  <small>Google</small>
                </div>
              </div>
              <p class="pt-4">
                There are many passages of lorem ipsum available, but majority
                have suffered alteration in some form by injecting
              </p>
              <div class="stars">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up">
            <div class="review p-4">
              <div class="person">
                <img src="static/img/avatar_2.jpg" alt="" />
                <div class="text ms-3">
                  <h6 class="mb-0">John Walter</h6>
                  <small>Google</small>
                </div>
              </div>
              <p class="pt-4">
                There are many passages of lorem ipsum available, but majority
                have suffered alteration in some form by injecting
              </p>
              <div class="stars">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up">
            <div class="review p-4">
              <div class="person">
                <img src="static/img/avatar_3.jpg" alt="" />
                <div class="text ms-3">
                  <h6 class="mb-0">John Walter</h6>
                  <small>Google</small>
                </div>
              </div>
              <p class="pt-4">
                There are many passages of lorem ipsum available, but majority
                have suffered alteration in some form by injecting
              </p>
              <div class="stars">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up">
            <div class="review p-4">
              <div class="person">
                <img src="static/img/avatar_2.jpg" alt="" />
                <div class="text ms-3">
                  <h6 class="mb-0">John Walter</h6>
                  <small>Google</small>
                </div>
              </div>
              <p class="pt-4">
                There are many passages of lorem ipsum available, but majority
                have suffered alteration in some form by injecting
              </p>
              <div class="stars">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up">
            <div class="review p-4">
              <div class="person">
                <img src="static/img/avatar_3.jpg" alt="" />
                <div class="text ms-3">
                  <h6 class="mb-0">John Walter</h6>
                  <small>Google</small>
                </div>
              </div>
              <p class="pt-4">
                There are many passages of lorem ipsum available, but majority
                have suffered alteration in some form by injecting
              </p>
              <div class="stars">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up">
            <div class="review p-4">
              <div class="person">
                <img src="static/img/avatar_1.jpg" alt="" />
                <div class="text ms-3">
                  <h6 class="mb-0">John Walter</h6>
                  <small>Google</small>
                </div>
              </div>
              <p class="pt-4">
                There are many passages of lorem ipsum available, but majority
                have suffered alteration in some form by injecting
              </p>
              <div class="stars">
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
                <i class="bx bxs-star"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Blog Section -->
    <section id="blog" class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 section-intro text-center" data-aos="fade-up">
            <h1>Our Blog Posts</h1>
            <div class="divider"></div>
            <p>
              There are many passages of lorem ipsum available, but majority
              have suffered alteration in some form, by injecting humo, or
              randomised words which do not look even slightly
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4" data-aos="fade-up">
            <img src="static/img/blog_post1.jpg" alt="blogpost pic" />
            <div class="mt-4">
              <small>Posted in <a href="#">Web Design</a> June 20, 2023</small>
              <h5 class="mt-1 mb-2"><a href="#">Web Development in 2055</a></h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                labore eum dolore?
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up">
            <img src="static/img/blog_post2.jpg" alt="blogpost pic" />
            <div class="mt-4">
              <small>Posted in <a href="#">Web Design</a> June 20, 2023</small>
              <h5 class="mt-1 mb-2"><a href="#">Web Development in 2055</a></h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                labore eum dolore?
              </p>
            </div>
          </div>

          <div class="col-md-4" data-aos="fade-up">
            <img src="static/img/blog_post3.jpg" alt="blogpost pic" />
            <div class="mt-4">
              <small>Posted in <a href="#">Web Design</a> June 20, 2023</small>
              <h5 class="mt-1 mb-2"><a href="#">Web Development in 2055</a></h5>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
                labore eum dolore?
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section
      id="contact"
      style="background-image: url(static/img/cover_3.jpg)"
      class="bg-cover text-white"
    >
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-12 section-intro text-center" data-aos="fade-up">
            <h1>Get in Touch</h1>
            <div class="divider"></div>
            <p>
              There are many passages of lorem ipsum available, but majority
              have suffered alteration in some form, by injecting humo, or
              randomised words which do not look even slightly
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 mx-auto" data-aos="fade-up">
            <form action="#" class="row g-4">
              <div class="form-group col-md-6">
                <input
                  type="text"
                  placeholder="Full Name"
                  class="form-control"
                />
              </div>

              <div class="form-group col-md-6">
                <input
                  type="email"
                  placeholder="Email Address"
                  class="form-control"
                />
              </div>

              <div class="form-group col-md-12">
                <input type="text" placeholder="Subject" class="form-control" />
              </div>

              <div class="form-group col-md-12">
                <textarea
                  name=""
                  id=""
                  cols="30"
                  rows="8"
                  class="form-control"
                  placeholder="Message"
                ></textarea>
              </div>

              <div class="text-center">
                <button class="btn btn-main" type="submit">Send Message</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>

    {% include "footer.html" %}

    <!-- Bootstrap JS with popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>

    <!-- AOS Library JS -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="static/js/script.js"></script>
  </body>
</html>
